.product {
  position: relative;

  &__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 85px;
    @include xl(1200) {
      justify-content: space-around;
    }
    @include lg(992) {
      display: block;
      margin: 0 auto;
    }
  }
  &__slider {
    max-width: 610px;
    background-color: $white;
    box-shadow: 0px 0px 0px 1px $silver;
    border-radius: 5px;
    padding: 75px 105px;
    @include xl(1200) {
      max-width: 480px;
      max-height: 400px;
      padding: 54px 95px;
    }
    @include lg(992) {
      margin: 0 auto;
      margin-bottom: 30px;
    }
    @include sm(576) {
      max-width: 345px;
      max-height: 345px;
      padding: 23px;
    }
  }
  &__content {
    max-width: 45.5%;
    @include lg(992) {
      max-width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    @include md(768) {
      max-width: 87%;
    }
    @include sm(576) {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include sm(576) {
      margin-bottom: 15px;
    }
  }
  &__star {
    margin-bottom: 24px;
    @include sm(576) {
      margin-bottom: 15px;
    }
  }
  &__price {
    @extend %rubik-500;
    font-size: 25px;
    line-height: 1.4;
    color: $darkBlue;
  }
  &__controls {
    display: flex;
    margin: 20px 0 30px 0;
    @include lg(992) {
      display: block;
    }
  }
  &__btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 12px 38px;
    margin-left: 28px;
    &:hover {
      .product__icon-btn {
        stroke: $orange;
      }
    }
    &:focus {
      .product__icon-btn {
        stroke: $orange;
      }
    }
    &:active {
      .product__icon-btn {
        stroke: $orange;
      }
    }
    @include lg(992) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &__icon-btn {
    width: 20px;
    height: 20px;
    stroke: $white;
    fill: transparent;
    transition: $transition;
    margin-right: 16px;
  }
  &__info-title {
    @extend %rubik-400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    @include sm(576) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  &__info-list {
    margin-bottom: 20px;
    @include sm(576) {
      margin-bottom: 15px;
    }
  }
  &__info-item {
    & span {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      color: #505050;
    }
  }
  &__info-link {
    @extend %h-f-a-link;
    font-size: 20px;
    line-height: 1.5;
    color: $darkBlue;
    text-decoration: underline;
    transition: $transition;
    @include sm(576) {
      font-size: 16px;
    }
  }
  &__tabs-wrapper {
    border-top: 1px solid #e4e4e4;
  }
}

.product-slide {
  display: flex;
  justify-content: center;
  &__img {
    @include xl(1200) {
      max-width: 300px;
      max-height: 300px;
    }
    @include sm(576) {
      margin: 0 auto;
    }
  }
}

.popup {
  @extend %center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    @extend %center;
    min-width: 90%;
    min-height: 90%;
    background-color: $white;
    border-radius: 15px;
    position: relative;
    @include lg(992) {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }

  &__content {
    @extend %center;
  }

  &__close {
    @extend %center;
    content: "";
    position: absolute;
    top: 25px;
    right: 25px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: #fff2ed;
    transition: $transition;
  }

  &__close-icon {
    width: 32px;
    height: 32px;
    fill: rgba(0, 0, 0, 0.15);
    @include lg(922) {
      width: 22px;
      height: 22px;
    }
  }

  &__slider {
    max-width: 750px;
    @include md(768) {
      max-width: 550px;
    }
    @include sm(576) {
      max-width: 355px;
    }
    @include lg-h(992) {
      max-width: 355px;
    }
  }

  &__slider-img {
    @include lg(992) {
      max-width: 600px;
      max-height: 600px;
      margin: 0 auto;
    }
    @include md(768) {
      max-width: 500px;
      max-height: 500px;
    }
    @include sm(576) {
      max-width: 360px;
      max-height: 360px;
    }
    @include lg-h(992) {
      max-width: 360px;
      max-height: 360px;
    }
  }

  &__prev-btn,
  &__next-btn {
    @extend %center;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 5px;
    transition: $transition;
    &:hover {
      background: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      .popup__icon {
        fill: $orange;
      }
    }
    &:focus {
      background-color: $white;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }
    &:active {
      background: $white;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
    }
    @include lg(992) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__prev-btn {
    left: -6%;
  }

  &__next-btn {
    left: 104%;
  }

  &__icon {
    width: 19px;
    height: 32px;
    fill: #505050;
    transition: $transition;
  }
  &__slick-dots {
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    @include lg-h(992) {
      top: 88%;
    }
  }
}

.tabs {
  max-width: 690px;
  margin: 0 auto;
  padding-top: 30px;
  &__list {
    display: flex;
    margin-bottom: 30px;
    @include md(768) {
      overflow-x: auto;
      white-space: nowrap;
      padding: 0 2px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
      @include md(768) {
        padding-bottom: 7px;
      }
      @include sm(576) {
        margin-right: 25px;
      }
    }
  }
  &__link {
    @extend %h-f-a-link;
    font-size: 24px;
    line-height: 1.5;
    color: $darkBlue;
    transition: $transition;
    &--active {
      color: $orange;
    }
    &.product-tab__link--active {
      color: $orange;
    }

    &:hover {
      .product-tab__count {
        color: $orange;
      }
    }
    @include sm(576) {
      font-size: 20px;
    }
  }

  &__content-item {
    display: none;
    &.tabs__content-item--active {
      display: block;
    }
  }

  &__content-descriptions p {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }

  &__content-characteristic li {
    @extend %rubik-500;
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    & span {
      @extend %rubik-400;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }
}

.comments {
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 1.2;
    color: $darkBlue;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @include sm(576) {
      font-size: 20px;
    }
  }
  &__list {
    margin-bottom: 40px;
    @include sm(576) {
      margin-bottom: 45px;
    }
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #e4e4e4;
      margin-bottom: 25px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @include sm(576) {
      display: block;
    }
  }
  &__header-inner {
    display: flex;
    align-items: center;
    @include sm(576) {
      margin-bottom: 15px;
    }
  }
  &__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 25px;
    overflow: hidden;
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    @extend %rubik-500;
    font-size: 20px;
    line-height: 1.2;
    color: #505050;
    margin-bottom: 10px;
    @include sm(576) {
      margin-bottom: 8px;
    }
  }
  &__date {
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: #505050;
    padding-bottom: 20px;
    @include sm(576) {
      font-size: 16px;
      padding-bottom: 15px;
    }
  }

  &__form-title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 1.2;
    color: $darkBlue;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @include sm(576) {
      font-size: 20px;
    }
  }
  &__form-rating {
    display: flex;
    margin-bottom: 20px;
    & span {
      color: #505050;
      font-size: 20px;
      margin-right: 15px;
    }
  }

  &__form-label {
    display: block;
    color: #505050;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__form-input {
    @extend %rubik-400;
    display: block;
    width: 100%;
    background-color: $white;
    color: #505050;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 12px;
    margin-top: 12px;
    outline: transparent;
    transition: $transition;
    &::placeholder {
      font-size: 16px;
      color: #c1c1c1;
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px $orange;
    }

    &::placeholder {
      color: $gray;
      opacity: 0.9;
      transition: $transition;
    }

    &:hover::placeholder {
      color: $darkBlue;
    }
  }
  &__form-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    @include md(768) {
      display: block;
    }
    @include sm(576) {
      margin-bottom: 30px;
    }
  }
  &__form-textarea {
    min-width: 400px;
    min-height: 165px;
    resize: vertical;
    outline: transparent;
    @include sm(576) {
      min-width: 100%;
    }
  }

  &__btn {
    min-width: 208px;
  }

  .form-checkbox {
    display: block;
    color: #505050;
    margin-left: 34px;
    position: relative;
    width: 90%;
    margin-bottom: 28px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      .form-checkbox__checkbox {
        background-color: #faeded;
      }
    }
    &:focus {
      .form-checkbox__checkbox {
        border: 1px solid $orange;
      }
    }

    &__input {
      @extend %checkbox-hidden;
      &:checked + .form-checkbox__checkbox {
        background-image: url("../images/icons/checked-on.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #faeded;
      }
    }
    &__checkbox {
      width: 24px;
      height: 24px;
      background-color: $white;
      border: 1px solid #c1c1c1;
      border-radius: 3px;
      position: absolute;
      outline: transparent;
      top: 0;
      left: -35px;
      &:focus {
        border: 1px solid $orange;
      }
    }
  }
}
