.breadcrumbs {
  background-color: rgba(255, 122, 80, 0.1);
  margin: 159px 0 60px 0;
  @include xl(1200) {
      margin: 120px 0 60px 0;
    }
      @include xl-h(1200) {
      margin: 72px 0 60px 0;
    }
    @include md(768) {
      margin: 86px 0 40px 0;
    }
    @include sm(576) {
      margin: 72px 0 30px 0;
    }

  &__list {
    display: flex;
    @include sm(576) {
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  &__item {
    color: #505050;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 24px 17px 24px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/icon-chevron.svg");
      background-repeat: no-repeat;
      width: 6px;
      height: 10px;
      top: 26px;
      right: 4px;
    }

    &:last-child {
      padding-right: 0;
      &::before {
        display: none;
      }
    }
  }

  &__link {
    transition: $transition;

    &:hover {
      color: #ff6838;
    }
  }
}