body {
  @extend %rubik-400;
  background-color: #f9faff;
  color: $dark;
  font-size: 18px;
  line-height: 1.3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-bottom: 120px;
}

.title {
  @extend %rubik-500;
  color: $darkBlue;
  font-size: $title;
}

.btn {
  color: $white;
  background-color: $orange;
  padding: 12px 32px;
  border-radius: 5px;
  transition: $transition;
  outline: transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: $orange;
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px $orangeBorder;
  }

  &:focus {
    background-color: $orangeLight;
    color: $orange;
    box-shadow: 0px 0px 0px 2px $orangeBorder;
  }

  &:active {
    background-color: $orangeLight;
    color: $orange;
  }
}

.card {
  max-width: 210px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 0px 0px 1px #ececec;
  border-radius: 5px;
  padding: 20px 0;
  transition: $transition;
  &:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 0px 1px $orange;
  }
  &__img {
    margin: 5px auto;
  }
  &__title {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__price {
    @extend %rubik-600;
    font-size: $price;
    line-height: 1.4;
    color: $darkBlue;
    margin-bottom: 10px;
  }
  &__btn {
    display: inline-block;
    font-size: 14px;
    padding: 7px 16px;
    margin: 0 auto;
  }

  &__content {
    padding: 0 5px;
  }
}

.rest-card {
  max-width: 370px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: $transition;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    transform: scale(1.05);
  }

  &__img {
    margin-bottom: 15px;
  }

  &__title {
    @extend %rubik-400;
    font-size: 24px;
    margin: 0 20px 20px 20px;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin: 0 0 20px 20px;
  }

  &__hours {
    @extend %rubik-300;
  }

  &__time {
    width: 19px;
    height: 20px;
    margin-right: 12px;
  }

  &__link {
    padding: 5px 32px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 20px;

    &:hover {
      .rest-card__arrow {
        fill: $orange;
        transform: translateX(15px);
      }
    }

    &:focus {
      .rest-card__arrow {
        fill: $orange;
      }
    }

    &:active {
      .rest-card__arrow {
        fill: $orange;
      }
    }
  }

  &__arrow {
    width: 14px;
    height: 12px;
    fill: $white;
  }
}

.filter {
  &__item {
    width: 270px;
    border: 1px solid $silver;
    background-color: $white;
    border-radius: 5px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__title {
    @extend %rubik-400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue;
    margin-bottom: 26px;
    border-bottom: 1px solid $silver;
    padding: 15px;
  }
}

.filter-price {
  &__form {
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
    padding: 0 15px;
  }
  &__label {
    color: #c2c2c2;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  &__input-from,
  &__input-to {
    width: 70px;
    height: 40px;
    outline: none;
    color: $dark;
    font-size: 16px;
    line-height: 1;
    background-color: #faeded;
    border: 1px solid #faeded;
    border-radius: 3px;
    padding: 12px 16px;
    transition: $transition;
    &:focus {
      border: 1px solid $orange;
    }
  }
}

// -------filter-price (рейдж)----------//

.range-slider {
  padding: 0 15px;
  margin-bottom: 25px;
}

.irs--round .irs-line {
  top: 34px;
  height: 2px;
  background-color: $gray;
  border-radius: 0;
}

.irs--round .irs-bar {
  top: 34px;
  height: 2px;
  background-color: $orange;
}

.irs--round .irs-handle {
  top: 26px;
  width: 18px;
  height: 18px;
  background-color: $orange;
  border: 4px solid $orange;
  box-shadow: none;
  cursor: pointer;
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: $orange;
}

.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}

//------------------pagination-----------------------//


