body {
  @extend %rubik-400;
  background-color: #F9FAFF;
  color: $dark;
  font-size: 18px;
  line-height: 1.3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 120px;
}

.title {
  @extend %rubik-500;
  color: $darkBlue;
  font-size: $title;
}

.btn {
  color: $white;
  background-color: $orange;
  padding: 12px 32px;
  border-radius: 5px;
  transition: $transition;

  &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: $orange;
      box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2),
        0px 0px 0px 2px $orangeBorder;
    }
  
    &:focus {
      background-color: $orangeLight;
      color: $orange;
      box-shadow: 0px 0px 0px 2px $orangeBorder;
    }
  
    &:active {
      background-color: $orangeLight;
      color: $orange;
    }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 0px 0px 1px #ECECEC;
  border-radius: 5px;
  padding: 25px 15px;
  flex: 1 1 auto;
  &:hover {
    box-shadow: 0px 0px 0px 1px $orange;
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__img {
    margin: 0 auto;
  }

  &__title {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 22px;
  }

  &__price {
    @extend %rubik-600;
    font-size: $price;
    line-height: 1.4;
    margin-bottom: 10px;
    color: $darkBlue;
  }

  &__btn {
    font-size: 14px;
    padding: 7px 16px;
    max-width: 110px;
    margin: 0 auto;
  }

}


.rest-card {
  max-width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: $transition;

  &:hover {
    box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
  }
  &__img {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;
    margin: 0 20px 20px 20px;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  &__hours {
    @extend %rubik-300;
  }

  &__time {
    width: 19px;
    height: 20px;
    margin-right: 12px;
  }

  &__link {
    padding: 5px 32px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 20px;

    &:hover {
      .rest-card__arrow {
        fill: $orange;
        transform: translateX(15px);
      }
    }

    &:focus {
      .rest-card__arrow {
          fill: $orange;
        }
    }

    &:active {
      .rest-card__arrow {
      fill: $orange;
   }
 }
      

    
  }

  &__arrow {
    width: 14px;
    height: 12px;
    fill: $white;
  }
}