@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "../module/_header/_header";
@import "../module/_hero/_hero";
@import "../module/_categories/_categories";
@import "../module/_services/_services";
@import "../module/_restaurants/_restaurants";
@import "../module/_reviews/_reviews";
@import "../module/_app/_app";
@import "../module/_footer/_footer";
@import "../module/_catalog/_catalog";
@import "../module/_promo/_promo";
@import "../module/_interesting/_interesting";
@import "../module/_breadcrumbs/_breadcrumbs";
@import "../module/_product/_product";









// -----------------Слайдер reviews---------------//

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  li {
    margin-right: 15px;
    button {
      padding: 0;
      font-size: 0;
      background-color: $gray;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: $transition;

      &:hover {
        background: #fff2ed;
        box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px #ff6838;
      }

      &:active {
        background-color: #ffae94;
      }
    }

    &.slick-active {
      button {
        background-color: $orange;
      }
    }
  }
}

.slick-btn {
  width: 38px;
  height: 38px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.01);
  border: 3px solid $gray;
  border-radius: 50%;
  transition: $transition;
  z-index: 2;

  &:hover {
    background-color: #fff2ed;
    border: 3px solid #ffae94;

    .slick-btn__arrow {
      fill: #ffae94;
    }
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }

  &:active {
    background-color: #fff2ed;
    border: 3px solid transparent;

    .slick-btn__arrow {
      fill: #ff7a50;
    }
  }

  &__arrow {
    content: "";
    position: absolute;
    width: 11px;
    height: 19px;
    fill: $gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__active {
    background: rgba(255, 255, 255, 0.01);
    border: 3px solid #ff7a50;
    .slick-btn__arrow {
      fill: #ff7a50;
    }
  }
}

.slick-prev {
  position: absolute;
  top: 112%;
  left: 39%;

      @include xl(1200) {
    top: 105%;
  }
    @include lg(992) {
    top: 50%;
    left: 6%;
  }
  @include sm(576) {
    top: 30px;
    left: 14%;
  }
}

.slick-next {
  position: absolute;
  top: 112%;
  left: 57.5%;

      @include xl(1200) {
    top: 105%;
  }
    @include lg(992) {
    top: 50%;
    left: 89%;
  }
    @include sm(576) {
    top: 30px;
    left: 77%;
  }
}

.slick-btn--active {
  border: 3px solid #ff7a50;
  .slick-btn__arrow {
    fill: #ff7a50;
  }
}


//----------------selectbox-- фільтр по назві і кількості---------//

.jq-selectbox {
    z-index: 3;
}

.jq-selectbox select,.jq-select-multiple select {
  opacity: 0;
  visibility: hidden;
}

.jq-selectbox__select {
  height: 47px;
  padding: 14px 40px 0 16px;
  border: 1px solid $gray;
  border-radius: 3px;
  color: $dark;
  background: $white;
  line-height: 1.2;
  font-size: 14px;
  transition: $transition;
  &:hover {
    background: transparent;
    border: 1px solid $orange;
    color: $orange;
    .jq-selectbox__trigger-arrow::before,
    ::after {
      background-color: $orange;
    }
  }
  &:focus {
    border: 1px solid $orange;
  }
  @include sm(576) {
    padding: 14px 30px 0 5px;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  border: none;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $gray;
    top: 7px;
    left: 18px;
    transition: $transition;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: $gray;
    top: 7px;
    left: 23px;
    transition: $transition;
    transform: rotate(-45deg);
  }
}

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1 px solid $gray;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 10pxrgba (0, 0, 0, 0.2);
  font: none;
  @include sm(576) {
  width: 105%;
  }
}

.jq-selectbox li {
  color: $dark;
  @include sm(576) {
    padding: 13px 4px;
  }
}

.jq-selectbox li.selected {
  color: $white;
  background-color: $orange;
  border-radius: 2px;
}

.jq-selectbox li:hover {
  background-color: $orange;
  border-radius: 2px;
  color: $white;
  transition: all 0.2s;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $orange;
}




//----------------------Стрілки слайдера товару-----------------//
.slick-product__prev,
.slick-product__next {
  @extend %center;
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 5px;
  transition: $transition;
  &:hover {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    .slick-product__icon {
      fill: $orange;
    }
  }
  &:focus {
    background-color: $white;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }
  &:active {
    background: #faeded;
    box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
  }
  @include sm(576) {
    opacity: 0;
    visibility: hidden;
  }
}
.slick-product__next {
  left: 87.5%;
}

.slick-product__icon {
  width: 19px;
  height: 32px;
  fill: $darkBlue;
  transition: $transition;
}



//----------------------Поле кількість товару----------------//

.jq-number__field {
  width: 70px;
  height: 44px;
  border: none;
  border-bottom-color: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #faeded;
  margin-left: 44px;
}

.jq-number__field input {
  font: 20px Arial, sans-serif;
  width: 100%;
  padding: 12px 15px;
  border: none;
  outline: none;
  background: none;
  color: $darkBlue;
  text-align: center;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border: 0;
  border-bottom-color: none;
  border-radius: 0;
  background: $orange;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px $orangeBorder;
  }
  &:focus {
    background-color: $orangeLight;
    color: $orange;
    box-shadow: 0px 0px 0px 2px $orangeBorder;
  }

  &:active {
    background-color: $orangeLight;
    color: $orange;
  }
}

.jq-number__spin.minus {
  top: 0;
  left: 0;
  border-radius: 3px 0px 0px 3px;
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 12px;
    width: 20px;
    height: 1.6px;
    background-color: $white;
    border: none;
  }
}

.jq-number__spin.plus {
  top: 0;
  right: -8px;
  border-radius: 0px 3px 3px 0px;
  transition: $transition;
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 12px;
    width: 20px;
    height: 1.6px;
    background-color: $white;
    border: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 21px;
    width: 1.4px;
    height: 20px;
    background-color: $white;
    border: none;
  }
}

.jq-number__spin.plus:hover::after {
  background-color: $orange;
}

.jq-number__spin.plus:hover::before {
  background-color: $orange;
}

.jq-number__spin.minus:hover::after {
  background-color: $orange;
}

//--------------star--------------------//
.jq-ry-container {
  padding: 0;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
  z-index: 0;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group {
  z-index: 0;

}



@import "media";
