@import "adaptiv";

.hero {

  &__inner {
    background-repeat: no-repeat;
    background-position: right;
    min-height: 660px;
    position: relative;
    margin-top: 159px;
    z-index: 0;
    @include xl(1200) {
      margin-top: 120px;
    }
    @include lg(992) {
      min-height: 540px;
      background-size: 450px 550px;
      &::before {
        content: "";
        background-color: rgba(249, 250, 255, 0.85);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -2;
      }
    }
    @include lg-h(992) {
    background-size: 255px 300px;
    margin-top: 60px;
    min-height: 370px;
    
  }
    @include md(768) {
      background-size: 400px 500px;
      margin-top: 86px;
    }
    @include md-h(768) {
      min-height: 310px;
    background-size: 200px 250px;
  }
    @include sm(576) {
      min-height: 310px;
      margin-top: 72px;
      background-size: 255px 300px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    z-index: 10;
    padding-top: 159px;
    @include xl(1200) {
      padding-top: 120px;
    }
    @include lg(992) {
      max-width: 400px;
    }
      @include lg-h(992) {
      padding-top: 80px;
    }
    @include md-h(768) {
      padding-top: 40px;
  }
    @include sm(576) {
      padding-top: 26px;
      max-width: 340px;
    }
  }

  &__title {
    @extend %rubik-500;
    max-width: 100%;
    font-size: 66px;
    color: $darkBlue;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include xl-h(1200) {
      font-size: 50px;
    }
    @include lg(992) {
      font-size: 50px;
    }
    @include lg-h(992) {
      font-size: 35px;
    }
    @include sm(576) {
      font-size: 40px;
    }
  }

  &__subtitle {
    color: $orange;
  }

  &__text p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    @include lg-h(992) {
      font-size: 16px;
    }
    @include sm(576) {
      font-size: 16px;
      padding-right: 10px;
    }
  }

  &__link {
    display: inline-block;
    padding: 12px 32px;
    margin-right: 30px;
    letter-spacing: 0.03em;

    @include lg-h(992) {
      font-size: 14px;
      min-width: 112px;
      min-height: 34px;
      padding: 8px 24px;
    }

    @include sm(576) {
      font-size: 14px;
      min-width: 112px;
      min-height: 34px;
      padding: 8px 24px;
    }
  }

  &__more {
    @extend %h-f-a-link;
    font-size: 20px;
    line-height: 1.5;
    color: $darkBlue;
    text-decoration: underline;
    transition: $transition;
    @include lg-h(992) {
      font-size: 16px;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }

  &__img {
    width: 48%;
  }
}
