@import "adaptiv";

.services {
  &__inner {
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 585px;
    position: relative;
    @include lg(992) {
      min-height: 462px;
      background-size: 348px 462px;
      &::before {
        content: "";
        background-color: rgba(249, 250, 255, 0.85);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
      }
    }
  }
  
  &__info {
    max-width: 470px;
    @include xl(1200) {
      z-index: 2;
    }
    @include lg(922) {
    }

    @include md(768) {
    }
  }
  &__title {
    margin-top: 6px;
    margin-bottom: 31px;
  }
  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 31px;
    opacity: 0.9;
    @include lg-h(992) {
      font-size: 16px;
    }
    @include md-h(768) {
      font-size: 16px;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }
  &__list {
    margin-bottom: 42px;
    @include sm(576) {
      margin-bottom: 24px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    color: $darkBlue;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 3px;
    @include lg-h(992) {
      font-size: 18px;
    }
    @include md-h(768) {
      font-size: 18px;
    }
    @include sm(576) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @include sm(576) {
        margin-bottom: 18px;
      }
    }
  }
  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 30px;
    @include sm(576) {
      margin-right: 10px;
    }
  }
  &__link {
    margin-left: 3px;
    @include sm(576) {
      font-size: 14px;
    }
  }
}
