.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include lg(992) {
      flex-direction: column;
    }

    @include sm(576) {
      margin-bottom: 38px;
    }
  }

  &__inner-second {
    display: flex;

    @include sm(576) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__subscribe {
    margin-right: 70px;
    margin-top: 2px;
    margin-left: -2px;

    @include xl(1200) {
      margin-right: 40px;
    }

    @include lg(992) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include md(768) {
      display: block;
    }

    @include sm(576) {
      margin-bottom: 20px;
    }
  }

  &__logo {
    width: 200px;
    height: 39px;
    margin-bottom: -5px;
  }

  &__form {
    margin-top: 29px;
    font-size: 14px;

    @include lg(992) {
      display: flex;
      align-items: center;
      margin-top: 0;
    }

    @include md(768) {
      display: block;
      margin-top: 29px;
    }
  }

  &__input {
    background-color: $white;
    border: 1px solid $gray;
    padding: 13px 14px;
    border-radius: 5px;
    margin-bottom: 12px;
    outline: transparent;

    @include lg(992) {
      margin-bottom: 0;
      margin-right: 15px;
      width: 300px;
    }

    @include md(768) {
      margin-bottom: 12px;
      width: 100%;
      text-align: center;
    }

    @include sm(576) {
      margin-bottom: 8px;
      width: 58%;
      text-align: left;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange;
    }

    &::placeholder {
      color: $gray;
      opacity: 0.9;
      transition: $transition;
    }

    &:hover::placeholder {
      color: $darkBlue;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 41px;

    @include md(768) {
      width: 100%;
      justify-content: center;
    }

    @include sm(576) {
      width: 58%;
      padding: 13px 20px;
    }

    &:hover {
      .footer__icon {
        fill: $orange;
      }
    }

    &:focus {
      .footer__icon {
        fill: $orange;
      }
    }

    &:active {
      .footer__icon {
        fill: $orange;
      }
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: $white;
    margin-right: 15px;
  }

  &__list {
    display: inline-block;
    column-count: 3;
    margin-right: 45px;

    @include xl(1200) {
      margin-right: 30px;
      width: 100%;
    }

    @include lg(992) {
      column-count: 2;
    }

      @include md(768) {
      margin-right: 0;
    }

    @include sm(576) {
      column-count: 1;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 17px;

      @include lg(992) {
        margin-bottom: 2px;
      }
    }
  }

  &__link {
    @extend %h-f-a-link;
    letter-spacing: 0.01em;
    transition: $transition;

    @include lg(992) {
      display: block;
      padding: 9px 0;
    }
  }

  &__copyright {
    padding: 30px 0;

    @include sm(576) {
      padding: 20px 0;
    }
  }

  &__bottom {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }
}

.contacts {
  @include lg(992) {
    margin-bottom: 20px;
  }

  &__link {
    @extend %h-f-a-link;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 14px;
    transition: $transition;

    @include lg(992) {
      margin-bottom: 2px;
      padding: 8px 0;
    }

    &:hover {
      color: $orange;

      .contacts__icon {
        stroke: $orange;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 19px;
    fill: transparent;
    stroke: $dark;
    stroke-width: 1.5;
    margin-right: 10px;
    transition: $transition;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver;
    padding: 12px 12px;
    border-radius: 50%;
    transition: $transition;

    &:hover {
      background-color: #ff7a50;

      .social__icon {
        fill: $white;
      }
    }

    &:focus {
      background-color: #fff2ed;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #fff2ed;

      .social__icon {
        fill: #ff7a50;
      }
    }

    .social__icon {
      fill: $dark;
      width: 20px;
      height: 20px;
      transition: $transition;
    }
  }
}
