.catalog {
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    @include lg(992) {
      margin-bottom: 30px;
    }
    @include md(768) {
      display: block;
    }
  }
  &__header-inner {
    display: flex;
   
  }
  &__title {
    margin-bottom: 20px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__inner {
    @include xl(1200) {
      margin: 0 auto;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 60px;
    @include xl(1200) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @include lg(992) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md(768) {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    @include sm(576) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
  }
  }
}

//--------------------Фільтр Категорії------------------//

.filter-category {
  &__form {
    padding: 0 15px 25px 15px;
  }

  &__label {
    display: block;
    &:not(:last-child) {
      margin-bottom: 11px;
    }
   
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      color: $orange;
    }
  }
  &__checkbox {
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $orange;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 2px #ffa285;
      border-radius: 3px;
    }
    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
}

.filters-mobile {
  @extend %center;
  width: 47px;
  height: 47px;
  background-color: #faeded;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  &:active {
    background: #ffffff;
    box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
  }

  @include md(768) {
    opacity: 1;
    visibility: visible;
    margin-right: 10px;
  }

  &__icon {
    width: 32px;
    height: 36px;
    fill: $orange;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  @include md (768) {
 
  }


  &__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faeded;
    border-radius: 3px;
    width: 48px;
    &:hover {
      .pagination__icon-arrow {
        fill: $darkBlue;
      }
    }
  }
  &__arrows--active {
    .pagination__icon-arrow {
      fill: $darkBlue;
    }
  }

  &__icon-arrow {
    width: 11px;
    height: 18px;
    fill: $gray;
    transition: $transition;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 6px;
    @include sm(576) {
      &:nth-child(even) {
        display: none;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkBlue;
    background-color: #faeded;
    border-radius: 3px;
    width: 48px;
    height: 48px;
    line-height: 1;
    letter-spacing: 0.03em;
    transition: $transition;
    &:hover {
      background-color: $orange;
      color: $white;
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px $orange;
    }
    &:active {
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &__link--active {
    border: 1px solid $darkBlue;
  }

  &__prev {
    margin-right: 6px;
  }
}
