.app {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 42%;
    margin-top: 11px;
  }

  &__title {
    margin-top: -10px;
    margin-bottom: 45px;
  }
  &__text {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 30px;
  }

  &__link:not(:last-child) {
    margin-right: 26px;
  }

  &__icon {
    display: inline-block;
  }
}