.reviews {
  position: relative;
  padding-bottom: 199px;

  @include xl(1200) {
    padding-bottom: 150px;
  }

  @include lg(992) {
    padding-bottom: 0;
    margin-bottom: 65px;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;

    @include lg-h(992) {
      margin-bottom: 27px;
    }

    @include md(768) {
      margin-bottom: 30px;
    }

    @include sm(576) {
      margin-bottom: 27px;
    }
  }

  &__slider {
    max-width: 990px;
    margin: 0 auto;
  }

  &__item-inner {
    display: flex;
    align-items: center;
    max-width: 950px;
    @include xl(1200) {
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-left: 1px;
    margin-right: 80px;
    @include xl(1200) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include lg-h(992) {
      width: 100px;
      height: 100px;
    }
    @include lg(992) {
      width: 200px;
      height: 200px;
    }
    @include md-h(768) {
      width: 100px;
      height: 100px;
    }
    @include sm(576) {
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    max-width: 60%;
    @include sm(576) {
      max-width: 70%;
    }
  }
  &__blockquote {
    @extend %rubik-400i;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    @include lg-h(992) {
      font-size: 14px;
    }
    @include sm(576) {
      font-size: 14px;
    }

    &::before {
      @extend %absolut;
      background-image: url("../images/icons/icon1.svg");
      width: 24px;
      height: 19px;
      top: 0;
      left: -39px;
      @include sm(576) {
        top: -7px;
        left: -34px;
      }
    }

    &::after {
      @extend %absolut;
      background-image: url("../images/icons/icon2.svg");
      width: 24px;
      height: 19px;
      bottom: -2px;
      right: -38px;
      @include sm(576) {
        bottom: 10px;
        right: -36px;
      }
    }
  }

  &__author {
    @extend %rubik-500;
    color: $orange;
    font-size: 20px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    @include lg-h(992) {
      font-size: 16px;
      margin-top: 23px;
      margin-bottom: 5px;
    }
    @include sm(576) {
      font-size: 16px;
      margin-top: 23px;
      margin-bottom: 5px;
    }
  }

  &__text {
    font-size: 14px;
  }

  &__slick-dots {
    top: 113%;
    left: 45%;

    @include lg(992) {
      opacity: 0;
      visibility: hidden;
  }

    @include xl(1200) {
      top: 105%;
    }
  }
}
